{%- for vpn in vpn_client -%}
{%- if vpn['phase_2']['esp']['encr'] is defined -%} {# ESP[ENCR] #}
{%- if vpn['phase_2']['esp']['hmac'] is defined -%} {# ESP[HMAC] #}
{%- if vpn['phase_2']['ah']['hmac'] is defined -%} {# AH[HMAC] #}
ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
{%- else -%} {# AH[HMAC] #}
ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_TS
{%- endif -%} {# AH[HMAC] #}
{%- else -%} {# ESP[HMAC] #}
{%- if vpn['phase_2']['ah']['hmac'] is defined -%} {# AH[HMAC] #}
ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
{%- else -%} {# AH[HMAC] #}
ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_TS
{%- endif -%} {# AH[HMAC] #}
{%- endif -%} {# ESP[HMAC] #}
{%- else -%} {# ESP[ENCR] #}
{%- if vpn['phase_2']['esp']['hmac'] is defined -%} {# ESP[HMAC] #}
{%- if vpn['phase_2']['ah']['hmac'] is defined -%} {# AH[HMAC] #}
ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
{%- else -%} {# AH[HMAC] #}
ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_TS
{%- endif -%} {# AH[HMAC] #}
{%- else -%} {# ESP[HMAC] #}
{%- if vpn['phase_2']['ah']['hmac'] is defined -%} {# AH[HMAC] #}
AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
{%- else -%} {# AH[HMAC] #}
EMPTY?????????
{%- endif -%} {# AH[HMAC] #}
{%- endif -%} {# ESP[HMAC] #}
{%- endif -%} {# ESP[ENCR] #}
{%- endfor -%}