{% if policy is defined %}
{% set cpt = [1] %}
{% for phase in policy['ikev1'] %}
{% if phase['dh'] is defined and phase['encryption'] is defined and phase['hash'] is defined and phase['lifetime'] is defined %}
{% for encr in phase['encryption'] %}
{% for hash in phase['hash'] %}
{% for group in phase['dh'] %}
{% for lifetime in phase['lifetime'] %}
crypto isakmp policy {{ cpt | join("") }}
 {% if encr|length > 3 -%}
 encr {{ encr[:3] }} {{ encr[3:] }}
 {% else %}
 encr {{ encr }}
 {% endif -%}
 hash {{ hash }}
 authentication pre-share
 group {{ group }}
 lifetime {{ lifetime }}

{% if cpt.append(cpt.pop() + 1) %}{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% for phase in policy['ikev2'] %}
{% if phase['dh'] is defined and phase['encryption'] is defined and phase['hash'] is defined and phase['lifetime'] is defined %}
{% for encr in phase['encryption'] %}
{% for hash in phase['hash'] %}
{% for group in phase['dh'] %}
{% if phase['prf'] is defined %}
{% for prf in phase['prf'] %}
crypto ikev2 proposal {{ encr.upper() }}_{{ hash.upper() }}_PROPOSAL
 {% if encr|length > 3 -%}
 encryption {{ encr[:3] }}-cbc-{{ encr[3:] }}
 {% endif -%}
 integrity {{ hash }}
 group {{ group }}
 prf {{ prf }}
{% endfor %}
{#{% else %}
 crypto ikev2 proposal {{ encr.upper() }}_{{ hash.upper() }}_PROPOSAL
 {% if encr|length > 3 -%}
 encryption {{ encr[:3] }}-cbc-{{ encr[3:] }}
 {% endif -%}
 integrity {{ hash }}
 group {{ group }}#}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}
