{% if transform_set is defined -%}
{% for ts in transform_set -%}
{# --------------- ESP encr --------------- #}
{% if ts['esp']['encr'] is defined -%}       {# IF ts['esp']['encr'] #}
{# =============== ESP hmac =============== #}
{% if ts['esp']['hmac'] is defined -%}       {# IF ts['esp']['hmac'] #}
{# _______________ AH  hmac _______________ #}
{% if ts['ah']['hmac'] is defined -%}        {# IF ts['ah']['hmac'] #}
{# --------------- ESP[encr] + ESP[hmac] + AH[hmac] --------------- #}
{% if ts['esp']['encr']|length > 3 -%}
crypto ipsec transform-set ESP{{ ts['esp']['encr'].upper() }}_ESP{{ ts['esp']['hmac'].upper() }}_AH{{ ts['ah']['hmac'].upper() }}_TS esp-aes {{  ts['esp']['encr'][3:] }} esp-{{ ts['esp']['hmac'] }}-hmac ah-{{ ts['ah']['hmac'] }}-hmac
{% else -%}
crypto ipsec transform-set ESP{{ ts['esp']['encr'].upper() }}_ESP{{ ts['esp']['hmac'].upper() }}_AH{{ ts['ah']['hmac'].upper() }}_TS esp-aes esp-{{ ts['esp']['hmac'] }}-hmac ah-{{ ts['ah']['hmac'] }}-hmac
{% endif -%}
{% else -%}         {# IF ts['ah']['hmac'] #}
{# --------------- ESP[encr] + ESP[hmac] --------------- #}
{% if ts['esp']['encr']|length > 3 -%}
crypto ipsec transform-set ESP{{ ts['esp']['encr'].upper() }}_ESP{{ ts['esp']['hmac'].upper() }}_TS esp-aes {{ ts['esp']['encr'][3:] }} esp-{{ ts['esp']['hmac'] }}-hmac
{% else -%}
crypto ipsec transform-set ESP{{ ts['esp']['encr'].upper() }}_ESP{{ ts['esp']['hmac'].upper() }}_TS esp-aes esp-{{ ts['esp']['hmac'] }}-hmac
{% endif -%}
{# _______________ AH hmac  _______________ #}
{% endif -%}        {# IF ts['ah']['hmac'] #}
{# =============== ESP hmac =============== #}
{% else -%}         {# IF ts['esp']['hmac'] #}
{# --------------- ESP[encr] + AH[hmac] --------------- #}
{# _______________ AH  hmac _______________ #}
{% if ts['ah']['hmac'] is defined -%}    {# IF ts['ah']['hmac'] #}
{% if ts['esp']['encr']|length > 3 -%}
crypto ipsec transform-set ESP{{ ts['esp']['encr'].upper() }}_AH{{  ts['ah']['hmac'].upper() }}_TS esp-aes {{ ts['esp']['encr'][3:] }} ah-{{ ts['ah']['hmac'] }}-hmac
{% else -%}
crypto ipsec transform-set ESP{{ ts['esp']['encr'].upper() }}_AH{{ ts['ah']['hmac'].upper() }}_TS esp-aes ah-{{ ts['ah']['hmac'] }}-hmac
{% endif -%}
{% else -%}          {# IF ts['ah']['hmac'] #}
{# --------------- ESP[encr] --------------- #}
{% if ts['esp']['encr']|length > 3 -%}
crypto ipsec transform-set ESP{{ ts['esp']['encr'].upper() }}_TS esp-aes {{ ts['esp']['encr'][3:] }}
{% else -%}
crypto ipsec transform-set ESP{{ ts['esp']['encr'].upper() }}_TS esp-aes
{% endif -%}
{# _______________ AH  hmac _______________ #}
{% endif -%}         {# IF ts['ah']['hmac'] #}
{% endif -%}         {# IF ts['esp']['hmac'] #}
{% else -%}          {# IF ts['esp']['encr'] #}
{# =============== ESP hmac =============== #}
{% if ts['esp']['hmac'] is defined -%}   {# IF ts['esp']['hmac'] #}
{# _______________ AH  hmac _______________ #}
{% if ts['ah']['hmac'] is defined -%}       {# IF ts['ah']['hmac'] #}
{# ---------------  ESP[hmac] + AH[hmac] --------------- #}
crypto ipsec transform-set ESP{{ ts['esp']['hmac'].upper() }}_AH{{ ts['ah']['hmac'].upper() }}_TS esp-{{ ts['esp']['hmac'] }}-hmac ah-{{ ts['ah']['hmac'] }}-hmac
{% else -%}
{# --------------- ESP[hmac] --------------- #}
crypto ipsec transform-set ESP{{ ts['esp']['hmac'].upper() }}_TS esp-{{ ts['esp']['hmac'] }}-hmac
{# _______________ AH hmac  _______________ #}
{% endif -%}         {# IF ts['ah']['hmac'] #}
{# =============== ESP hmac =============== #}
{% else -%}         {# IF ts['esp']['hmac'] #}
{# --------------- AH[hmac] --------------- #}
{# _______________ AH  hmac _______________ #}
{% if ts['ah']['hmac'] is defined -%}
crypto ipsec transform-set AH{{  ts['ah']['hmac'].upper() }}_TS ah-{{ ts['ah']['hmac'] }}-hmac
{% endif -%}
{% endif -%}        {# IF ts['esp']['hmac'] #}
{% endif -%}        {# IF ts['esp']['encr'] #}
{% endfor -%}
{% endif -%}
