{% if vpn_client is defined %}
{% for vpn in vpn_client %}
{% if vpn['id'] is defined and vpn['ike'] is defined and vpn['peer_ip'] is defined and vpn['phase_1'] is defined and vpn['phase_2'] is defined and vpn['acl'] is defined and vpn['network'] is defined %}
{# Double NAT PART - DNAT and SNAT#}
{% if vpn['dnat'] is defined %}
{% for nat_rule in vpn['dnat'] %}
ip nat inside source static {{ nat_rule['in'] }} {{ nat_rule['out'] }}
{% endfor %}
{% endif %}

{# ACL PART #}
{% set cpt = [10] %}
{% set acl_name = "" %}
{% if vpn['acl']['type'] == "standard" %}
{% set acl_name = vpn['client'].upper()+"_ACL_STD" %}
ip access-list standard {{ vpn['client'].upper() }}_ACL_STD
  {% for rule in vpn['network'] -%}
  {% for source in rule['src']['ip'] -%}
  {% for destination in rule['dst']['ip'] -%}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['src']['type'] }} {{ source }} {{ rule['dst']['type'] }} {{ destination }}
  {%- if cpt.append(cpt.pop() + 10) %}{% endif -%}
  {% endfor %}
  {% endfor %}
  {% endfor %}
{% elif vpn['acl']['type'] == "extended" %}
{% set acl_name = vpn['client'].upper()+"_ACL_EXT" %}
ip access-list extended {{ vpn['client'].upper() }}_ACL_EXT
  {% for rule in vpn['network'] %}
  {% for source in rule['src']['ip'] %}
  {% for destination in rule['dst']['ip'] %}
  {% if rule['src']['type'] == "network" -%}
  {% if rule['dst']['type'] == "network" -%}
  {% if rule['dst']['port_type'] is defined -%}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['protocol'] }} {{ source['addr'] }} {{ source['wild'] }} {{ destination['addr'] }} {{ destination['wild'] }} {{ rule['port_type'] }}
  {% else -%}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['protocol'] }} {{ source['addr'] }} {{ source['wild'] }} {{ destination['addr'] }} {{ destination['wild'] }}
  {% endif -%}
  {% elif rule['dst']['type'] == "host" -%}
  {% if rule['dst']['port_type'] is defined -%}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['protocol'] }} {{ source['addr'] }} {{ source['wild'] }} {{ rule['dst']['type'] }} {{ destination }} {{ rule['port_type'] }}
  {% else -%}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['protocol'] }} {{ source['addr'] }} {{ source['wild'] }} {{ rule['dst']['type'] }} {{ destination }}
  {% endif -%}
  {% endif -%}
  {% elif rule['src']['type'] == "host" -%}
  {% if rule['dst']['type'] == "network" -%}
  {% if rule['dst']['port_type'] is defined -%}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['protocol'] }} {{ rule['src']['type'] }} {{ source }} {{ destination['addr'] }} {{ destination['wild'] }} {{ rule['port_type'] }}
  {% else -%}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['protocol'] }} {{ rule['src']['type'] }} {{ source }} {{ destination['addr'] }} {{ destination['wild'] }} 
  {% endif -%}
  {% elif rule['dst']['type'] == "host" -%}
  {% if rule['dst']['port_type'] is defined %}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['protocol'] }} {{ rule['src']['type'] }} {{ source }} {{ rule['dst']['type'] }} {{ destination }} {{ rule['port_type'] }}
  {% else -%}
  {{ cpt | join("") }} {{ rule['action'] }} {{ rule['protocol'] }} {{ rule['src']['type'] }} {{ source }} {{ rule['dst']['type'] }} {{ destination }}
  {% endif -%}
  {% endif -%}
  {% endif -%}
  {% if cpt.append(cpt.pop() + 10) %}{% endif %}
  {% endfor %}
  {% endfor %}
  {% endfor %}
{% endif %}


{# IKEv1 PART #}
{% if vpn['ike'] == "v1" -%}

{% if vpn['phase_1']['mode'] is defined -%}
{% if vpn['phase_1']['mode']['type'] is defined and vpn['phase_1']['mode']['pass'] is defined -%}
{% if vpn['phase_1']['mode']['type'] == "aggressive"-%}
 crypto isakmp peer address {{ vpn['peer_ip'] }}
 set aggressive-mode password {{ vpn['phase_1']['mode']['pass'] }}
{% endif -%}
{% endif -%}
{% endif -%}

crypto isakmp key {{ secure['psk'] }} address {{ vpn['peer_ip'] }}

crypto map VPN_IPSEC_S2S_MAP {{ vpn['id'] }} ipsec-isakmp
 set peer {{ vpn['peer_ip'] }}
 {% if vpn['phase_2']['esp']['encr'] is defined %} {# ESP[ENCR] #}
 {% if vpn['phase_2']['esp']['hmac'] is defined %} {# ESP[HMAC] #}
 {% if vpn['phase_2']['ah']['hmac'] is defined %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
 {% else %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_TS
 {% endif %} {# AH[HMAC] #}
 {% else %} {# ESP[HMAC] #}
 {% if vpn['phase_2']['ah']['hmac'] is defined %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
 {% else %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_TS
 {% endif %} {# AH[HMAC] #}
 {% endif %} {# ESP[HMAC] #}
 {% else %} {# ESP[ENCR] #}
 {% if vpn['phase_2']['esp']['hmac'] is defined %} {# ESP[HMAC] #}
 {% if vpn['phase_2']['ah']['hmac'] is defined %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
 {% else %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_TS
 {% endif %} {# AH[HMAC] #}
 {% else %} {# ESP[HMAC] #}
 {% if vpn['phase_2']['ah']['hmac'] is defined %} {# AH[HMAC] #}
 set transform-set AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
 {% else %} {# AH[HMAC] #}
 set transform-set EMPTY?????????
 {% endif %} {# AH[HMAC] #}
 {% endif %} {# ESP[HMAC] #}
 {% endif %} {# ESP[ENCR] #}
 {% if vpn['phase_2']['pfs'] is defined -%}
 set pfs group{{ vpn['phase_2']['pfs'] }}
 {% endif -%}
 {% if vpn['phase_2']['group'] is defined -%}
 set group {{ vpn['phase_2']['group'] }}
 {% endif -%}
 {% if vpn['phase_2']['lifetime'] is defined -%}
 {% if vpn['phase_2']['lifetime']['based'] is defined -%}
 {% if vpn['phase_2']['lifetime']['based'] == "seconds" -%}
 set security-association lifetime seconds {{ vpn['phase_2']['lifetime']['value'] }}
 {% elif  vpn['phase_2']['lifetime']['based'] == "kilobytes" -%}
 set security-association lifetime kilobytes {{ vpn['phase_2']['lifetime']['value'] }}
 {% elif  vpn['phase_2']['lifetime']['based'] == "days" -%}
 set security-association lifetime days {{ vpn['phase_2']['lifetime']['value'] }}
 {% endif -%}
 {% else %}
 set security-association lifetime seconds {{ vpn['phase_2']['lifetime'] }}
 {% endif -%}
 {% endif -%}
 match address {{ acl_name }}

{# IKEv2 PART #}
{% elif vpn['ike'] == "v2" %}
{% set proposal = "" %}
{% set cpt = [""] %}
crypto ikev2 proposal {{ vpn['client'].upper() }}_IKEV2_PROPOSAL 
{% for encryption in vpn['phase_1']['encr'] -%}
 {% if encryption['cipher'] is defined %}
 {% if encryption['cipher'] == 'cbc' -%}
 {% if encryption['algo']|length > 3 -%}
 {% if cpt.append(cpt.pop() + encryption['algo'][:3]+"-cbc-"+encryption['algo'][3:]+" ") -%}{% endif -%}
 {% endif -%}
 {% elif encryption['cipher'] == 'gcm' -%}
 {% if encryption['algo']|length > 3 -%}
 {% if cpt.append(cpt.pop() + encryption['algo'][:3]+"-gcm-"+encryption['algo'][3:]+" ") -%}{% endif -%}
 {% endif -%}
 {% endif -%}
 {% else -%}
 {% if 'des' in encryption['algo'] -%}
 {% if cpt.append(cpt.pop() + proposal+encryption['algo']+" ") -%}{% endif -%}
 {% elif 'aes' in encryption['algo'] -%}
 {% if encryption['algo']|length > 3 -%}
 {% if cpt.append(cpt.pop() + encryption['algo'][:3]+"-cbc-"+encryption['algo'][3:]+" ") -%}{% endif -%}
 {% endif -%}
 {% endif -%}
 {% endif -%}
 {% endfor -%}
 encryption {{ cpt | join("") }}
 integrity {{ vpn['phase_1']['hash']}}
 {% if vpn['phase_1']['group'] is defined -%}
 group {{ vpn['phase_1']['group'] }}
 {% endif -%}
 {% if vpn['phase_1']['prf'] is defined -%}
 prf {{ vpn['phase_1']['prf'] }}
 {% endif %}

crypto ikev2 policy {{ vpn['client'].upper() }}_POLICY
 proposal {{ vpn['client'].upper() }}_IKEV2_PROPOSAL

crypto ikev2 profile {{ vpn['client'].upper() }}_PROFILE
 match identity remote address {{ vpn['peer_ip'] }} 255.255.255.255
 authentication remote {{ vpn['phase_1']['local_auth'] }}
 authentication local {{ vpn['phase_1']['remote_auth'] }}
 keyring local {{ vpn['client'].upper() }}_KEYS
 lifetime {{ vpn['phase_1']['lifetime'] }}

crypto map {{ vpn['client'].upper() }}_IKEv2_MAP {{ vpn['id'] }} ipsec-isakmp
 set peer {{ vpn['peer_ip'] }}
 {% if vpn['sec_association']['idle_time'] is defined -%}
 set security-association idle-time {{ vpn['sec_association']['idle_time'] }}
 {% endif -%}
 {% if vpn['phase_2']['esp']['encr'] is defined %} {# ESP[ENCR] #}
 {% if vpn['phase_2']['esp']['hmac'] is defined %} {# ESP[HMAC] #}
 {% if vpn['phase_2']['ah']['hmac'] is defined %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
 {% else %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_TS
 {% endif %} {# AH[HMAC] #}
 {% else %} {# ESP[HMAC] #}
 {% if vpn['phase_2']['ah']['hmac'] is defined %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
 {% else %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['encr'].upper() }}_TS
 {% endif %} {# AH[HMAC] #}
 {% endif %} {# ESP[HMAC] #}
 {% else %} {# ESP[ENCR] #}
 {% if vpn['phase_2']['esp']['hmac'] is defined %} {# ESP[HMAC] #}
 {% if vpn['phase_2']['ah']['hmac'] is defined %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
 {% else %} {# AH[HMAC] #}
 set transform-set ESP{{ vpn['phase_2']['esp']['hmac'].upper() }}_TS
 {% endif %} {# AH[HMAC] #}
 {% else %} {# ESP[HMAC] #}
 {% if vpn['phase_2']['ah']['hmac'] is defined %} {# AH[HMAC] #}
 set transform-set AH{{ vpn['phase_2']['ah']['hmac'].upper() }}_TS
 {% else %} {# AH[HMAC] #}
 set transform-set EMPTY?????????
 {% endif %} {# AH[HMAC] #}
 {% endif %} {# ESP[HMAC] #}
 {% endif %} {# ESP[ENCR] #}


 set ikev2-profile {{ vpn['client'].upper() }}_PROFILE
 match address {{ acl_name }}

crypto ikev2 keyring {{ vpn['client'].upper() }}_KEYS
 peer {{ vpn['client'].upper() }}_IKEv2_MAP
 address {{ vpn['peer_ip'] }}
 pre-shared-key local {{ secure['keyring']['local_key'] }}
 pre-shared-key remote {{ secure['keyring']['remote_key'] }}

{% endif %}
{% endif %}
{% endfor %}
{% endif %}
